{% extends 'base.html' %}

{% block content %}
<h1>Add Disease</h1>
        {% for hospital in hospitals %}
            <h3>{{ hospital.hospital_name }}</h3>
        {% endfor %}

<form id="diseaseForm" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <br>

    <button type="button" id="getLocationBtn">Get Location</button>
    <input type="submit" value="Add Disease">
</form>

<div
 
class="container">
        <h1>Available Spaces</h1>

        
        <div id="map" style="width: 100%; height: 400px;"></div>

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Price</th>
                    <th>Contact Information</th>
                </tr>
            </thead>
            <tbody>
                {% for space in spaces %}
                <tr>
                    <td>{{ space.name }}</td>
                    <td>{{ space.address }}</td>
                    <td>{{ space.price }}</td>
                    <td>{{ space.contact_information }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2eHOl4d4kRRC38qQQn7kHXFrg3z7UqSUO2R6BwHq6k5uXYiH8HYlxd7Kcd" crossorigin="anonymous"></script>

    
<script
 
src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
 
integrity="sha384-Q64o6PGA1zC2Kq177D7z5qqiFz+oP78+8HH8gOhdUqucHKwhXqY0t9T4FveHqC0" crossorigin="anonymous"></script>

    
<script
 
src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCN5j-XgsNTzJZlyakkMo2TOwkuMNn-YfA&callback=initMap"></script>



    
<script>
        
    </script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    
    $(document).ready(function() {
       
        
        
        $('#getLocationBtn').click(function(event) {
            event.preventDefault(); // Prevent default form submission
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        });
        
        function showPosition(position) {
            $('#latitude').val(position.coords.latitude);
            $('#longitude').val(position.coords.longitude);
        }
        function initMap() {
            const map = new google.maps.Map(document.getElementById('map'), {
                zoom: 10,
                center: {lat: -3.188275, lng: 36.822995},
            });

            var places = [
                    {% for hospital in hospitals %}
                        {
                            location: {lat: {{ hospital.latitude }}, lng: {{ hospital.longitude }}},
                            title: "{{ hospital.hospital_name }}",
                            id: "{{ hospital.id }}"
                        },
                    {% endfor %}
                ];

            for (const place of places) {
                const marker = new google.maps.Marker({
                    position: place.location,
                    title: place.title,
                    map: map,
                });

                const contentString = '<div>' +
                    '<h4>' + place.title + '</h4>' +
                    '<p>' + place.description + '</p>' +
                    '<a href="/view/' + place.id + '/">' + place.id + '</a>' +
                    '</div>';
        
                const infowindow = new google.maps.InfoWindow({
                    content: contentString,
                });
        
                // Add a click event listener to open the info window when the marker is clicked
                marker.addListener('click', () => {
                    infowindow.open(map, marker);
                });

                marker.addListener('click', function() {
                    const placeId = place.title;
                    document.getElementById('place_id').value = placeId;
                    document.getElementById('place_form').submit();
                });
            }
        }

        window.addEventListener('load', initMap);
    });
    
</script>
{% endblock %}


<a href=""></a>